<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="top.wthfeng.hfmusic.dao.user.UserDAO" >

    <!--注册用户-->
    <insert id="insertUser" parameterType="top.wthfeng.hfmusic.model.param.RegisterUserParam" >
        <selectKey order="AFTER" keyColumn="id" keyProperty="userId" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into `user`(username,password,accessToken,starNum,headPortrait,lastLoginTime)
        values(#{username},#{password},#{accessToken},#{starNum},#{headPortrait},#{lastLoginTime})
    </insert>



    <!--根据用户名查找用户是否存在-->
    <select id="selectByUserName" parameterType="java.lang.String" resultType="top.wthfeng.hfmusic.model.user.UserInfo">
        SELECT  id AS userId, password,username,nickName,sex,starNum,headPortrait
        from `user`
        WHERE username = #{username}
    </select>

    <update id="updateTokenAndTime" parameterType="java.util.Map">
        UPDATE `user`
         set accessToken = #{accessToken},lastLoginTime =#{loginTime}
       WHERE  id = #{id}
    </update>

    <!--根据accessToken获取用户信息-->
    <select id="checkAccessToken" parameterType="java.lang.String" resultType="top.wthfeng.hfmusic.model.system.SysUser">
        SELECT u.id as userId,u.username userName,u.headPortrait headPortrait,u.sex
          from  `user` u
        WHERE accessToken=#{accessToken}
    </select>

   <insert id="createDefaultForm" parameterType="top.wthfeng.hfmusic.model.form.DefalutForm">
       INSERT INTO  form(formName,userId,createTime,cover,issystem,online,isdefault)
       values(#{formName},#{userId},#{createTime},#{cover},#{isSystem},#{online},1)
   </insert>


</mapper>