<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wthfeng.hfmusic.dao.music.MusicDAO" >

    <!--获取歌曲详情-->
    <select id="details" parameterType="int" resultType="top.wthfeng.hfmusic.model.view.ViewMusicDetails">
        SELECT m.id musicId,m.singerId,m.album,m.cover,m.lyric,m.url musicUrl,m.name musicName,
        s.name singerName
         from music m
        left JOIN singer s on m.singerId=s.id
         where m.id=#{musicId}
    </select>

    <!--喜欢歌曲-->
    <insert id="likeMusic" parameterType="top.wthfeng.hfmusic.model.param.MusicUserParam">
      insert into music_like(userId,musicId,createTime) 
      VALUES(#{userId},#{musicId},#{createTime})
    </insert>

    <!--取消喜欢歌曲-->
    <delete id="cancelLikeMusic" parameterType="top.wthfeng.hfmusic.model.param.MusicUserParam">
        DELETE from music_like  where userId=#{userId} and musicId=#{musicId}
    </delete>

    <!--根据名称获取歌曲-->
    <select id="getByMusicName" parameterType="java.lang.String" resultType="top.wthfeng.hfmusic.model.music.SimpleMusic">
        SELECT m.id musicId,m.name musicName,m.singerId,m.album,s.name singerName
        from music m
        left join singer s on m.singerId=s.id
        <bind name="nameLike" value="musicName+'%'" />
        where m.name like #{nameLike}
    </select>



</mapper>