.left-carousel,
.right-carousel{
    background-color: #ffffff;
    height:336px;

}
.home-formname{
    margin-bottom: 5px;
}
.author{
    font-size: small;
}
.hand{
    cursor:pointer;
}
a:link{
    text-decoration:none
}