/*左侧菜单*/
.sidebar-menu{
    border-right: 1px solid #c4c8cb;
}

.myul li{
    list-style: none;
    margin-left: -15px;
    margin-bottom: 5px;

}
.left{
    display: inline;
    float: left;
    margin-left: -20px;
    overflow: hidden;
    width: 40px;
}
.myul li div{
    float: left;
    margin-right: 5px;

}
.my-form-nav li * {
    cursor: pointer;
    vertical-align: middle;
}
.avatar {
    display: block;
    position: relative;
    width: 40px;
}
.main{
    border-left: solid 1px #ccc;
}
.my-form-title{
    color: #000;
    font-size: 14px;
    font-weight:800;
}
.f-name{
    width:100px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
    word-break:keep-all;
    text-overflow:ellipsis;
}
.f-num{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.my-margin{
    margin-top: 20px;
}
.my-singer-name{
    font-family: "Bodoni MT Poster Compressed";
    font-size:20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.my-singer-musicNum{
    font-size:12px;
    color:#999
}
.hr-color{
    height:10px;
    border:none;
    border-top:2px solid #FF3333;
    margin-top: 1px;
}
.hr{
    height:10px;
    border:none;
    border-top:1px solid #9d9d9d;

}
.form-title{
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
}
.glyphicon{
    cursor: pointer;
}

a{
    cursor: pointer;
}
.form-date{
    margin-left: 20px;
    color:#999;
    font-family: Arial;
}
.margin-top{
    margin-top: 10px;
}
.row-label{
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 5px;
}
.row-info{
    margin-left: -30px;
}
.row-play{
    margin-top: 15px;
}
.form-all-play{
    color:red;
}
.form-info{
    font-family: "Microsoft YaHei UI";
    color:#000;
    margin-left: -15px;
}
.form-label span{
    margin-right: 15px;
}
.music_liked{
    color:red;
}
.my-form-create{
    padding: 0px 5px 3px 8px ;
    margin-left: 10px;
}
.margin-right{
    margin-right: 10px;
}
