<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wthfeng.hfmusic.dao.home.HomeDAO" >

    <!--获取热门歌单-->
    <select id="hotForm" parameterType="int"
            resultType="com.wthfeng.hfmusic.model.view.ViewForm">
        SELECT f.id as formId,f.formName name,f.cover,u.nickName creator,
        f.issystem as isSystem,
        ((SELECT count(fc.id) FROM form_collect fc where fc.formId=f.id)+f.likenum)as hot
         from form f
        left JOIN `user` u on f.userId=u.id
        WHERE f.online=1
        limit 0,#{num}
    </select>

    <!--获取本月热门歌曲-->
    <select id="monthlyHot" resultType="com.wthfeng.hfmusic.model.view.ViewHomeMusic">
       SELECT m.id as musicId,m.name as musicName,s.name singerName,m.likenum likeNum
         from music m
          left JOIN singer s on m.singerId=s.id
          where date_format(m.createTime,'%Y%m')=date_format(now(),'%Y%m')
         order by m.likenum desc
         limit 0,10
    </select>

    <!--获取本月新歌-->
    <select id="monthlyNew" resultType="com.wthfeng.hfmusic.model.view.ViewHomeMusic">
         SELECT m.id as musicId,m.name as musicName,s.name singerName,m.likenum likeNum
         from music m
          left JOIN singer s on m.singerId=s.id
          where date_format(m.createTime,'%Y%m')=date_format(now(),'%Y%m')
         order by m.likenum desc
         limit 0,10
    </select>

    <select id="hotSinger" resultType="com.wthfeng.hfmusic.model.view.ViewHotSinger">
        SELECT s.id as singerId,s.name as singerName,count(ml.musicId) as hot from singer s
        left JOIN music m on s.id=m.singerId
        left JOIN music_like ml on m.id=ml.musicId
        GROUP BY s.id
        ORDER BY hot desc
        limit 0,10
    </select>


</mapper>